body{
  background-color: rgba(183, 221, 252, 0.2);
  font-family: Comic Sans MS, cursive
}

.Nav-Bar{
  background: rgb(3, 69, 92);
  font-size: 16px;
  font-weight: bold;
  font-family: Comic Sans MS, cursive;
  display:flex
}
.logo img{
  width: 180px;
  height: 80px;
  margin-top: 0px;
}

.Links{
  color:rgb(197, 235, 248);
  margin-right: 15px;
  margin-top: 60px;
  font-size: 20px;
  margin-bottom: 4px;
}
.Links:hover{
  color: #33FFF9;
  text-decoration: none;
}